.data-blocks-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: auto;
    z-index: 0;
  }
  
.data-blocks-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
  }

.export-button {
    align-self: flex-start;
  }

.view-mode-switch {
    margin-top: 10px; /* Add some margin for spacing */
    display: flex;
    justify-content: flex-start;
    width: 100%; /* Ensure the switch takes the full width */
  }
  