/* Legend.css */

.legend-container {
    position: absolute;
    bottom: 130px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    font-family: "Calibri", sans-serif;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-key {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.legend-value {
    display: inline-block;
}
