.container {
  position: relative;
  /* Add other styling properties as needed */
}



.view-container{
  margin-top: 0.5rem;
  height: 80vh;
  fill: #05681e;
  z-index: 1;
}

.map-container {
    height: 85% ;

  }
  
  .map {
    height: 100%;
    width: 100%;

  }
  

  #features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 250px;
  }

  @media screen and (min-width:1480px) {
    .container{
      padding-bottom: 0.5rem;
    }
    
  }