/* Table.css */
.table-container {
    margin: 10px;
    font-family: Calibri, sans-serif;
    position: absolute;
    left:50vh;
    top:70vh;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
 /* Table.css */
/* ... Existing styles ... */

.grey-bg {
    background-color: grey;
    color: white;
    text-align: center;
  }
  
  .green-bg {
    background-color: green;
    color: white;
    text-align: center;
  }
  
  .yellow-bg {
    background-color: yellow;
    color: black;
  }
  
  .orange-bg {
    background-color: orange;
    color: black;
  }
  
  .red-bg {
    background-color: red;
    color: white;
  }
  
  .dark-red-bg {
    background-color: darkred;
    color: white;
  }
  

  .table-wrapper {
    margin: 0 20px; /* Add margin to create space between tables */
  }
  
  .table-spacing {
    width: 400px; /* Adjust the width to control the spacing */
  }